.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.search {
  @include phone {
    display: none;
  }
}

.user {
  @include phone {
    display: none;
  }
}
