.header {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slogan {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 7.2rem;
  line-height: 106%;
  color: var(--neutral-07);
}

.gray {
  color: var(--neutral-04);
}

.description {
  font-size: 16px;
  color: var(--neutral-04);

  line-height: 162%;
  max-width: 42.4rem;
  margin-right: 2.9rem;
}

.bold {
  color: var(--neutral-05);
  font-weight: 600;
}
