.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.cartItems {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  line-height: 1;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
