@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  /* FONTS */
  --font-family: "Inter", sans-serif;
  --second-family: "Poppins", sans-serif;
  --third-family: "Space Grotesk", sans-serif;

  /* COLORS */
  --blue: #377dff;
  --green: #38cb89;
  --brand-color: #000;
  --neutral-01: #fefefe;
  --neutral-01-1: #f2f4f6;
  --neutral-02: #f3f5f7;
  --neutral-03: #e8ecef;
  --neutral-04: #6c7275;
  --neutral-04-08: rgba(108, 114, 117, 0.5);
  --neutral-05: #343839;
  --neutral-06: #232627;
  --neutral-07: #141718;
}

/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: none;
}

* {
  font: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
picture,
svg {
  max-width: 100%;
  height: auto;
}

img,
picture {
  display: block;
}

address {
  font-style: normal;
}

/* LINKS */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* FORM */
input,
textarea,
button,
select {
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* LAYOUT */
.container {
  max-width: 144rem;
  margin: 0 auto;
}

.container-sm {
  max-width: 112rem;
  margin: 0 auto;

  @include tablet {
    padding-inline: 2rem;
  }

  @include phone {
    padding-inline: 3.2rem;
  }
}
