.signIn {
  height: 100vh;
  display: flex;
  gap: 8.8rem;
}

.leftBlock {
  flex-basis: 73.6rem;
  padding-top: 3.2rem;
  background-image: url("/img/signIn/banner.jpg");
}

.rightBlock {
  margin-top: 22rem;
}

.form {
}
